
# Example configuration of a pdo sensor
'UniqueSensorName':
    class: Dommel\LatsBundle\Sensors\PDO
    config:
        dsn: 'mysql:host=localhost;dbname=test'
        user: root
        password: null
        query: 'SELECT RAND()'
    display: ~

# Example configuration of a DiskSpace sensor
# format: kB, MB, GB
'DiskSpace':
    class: Dommel\LatsBundle\Sensors\DiskSpace
    config:
        dir: '/'
        format: 'GB'  
    display: ~

# stat: user, sys, nice, idle
'CPU':
    class: Dommel\LatsBundle\Sensors\CPU
    config: 
        stat: 'user'  
    display: ~


# Example configuration of a Solr sensor
# not yet implemented! subject to change
'Solr':
    class: Dommel\LatsBundle\Sensors\Solr
    config:
        host: 'http://myHost'
        core: 'test'
        query: '*:*'
    display: ~
